.box {
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    height: 300px;
    font-size: 30px;
    margin: 100px;
    border: 2px solid lightcoral;
    padding: 100px;
}